
body {
  font-family:sans-serif;
  margin: 0;
  padding: 0;
  background-color: green;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-marquee{
  color:red;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.logo {
  max-width: 100px;
  height: auto;
  margin-right:20px;
}

.convocation-heading {
  font-size: 24px;
}

.nav {
  background-color:green;
  padding: 10px 20px;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
.section{
  padding: 20px;
  background-color:#FFF;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display:flex;
  
  align-items:center;
}
.section h2{
  color:#007bff;
  background-color:aqua;
  padding:10px 20px;
  border-radius: 5px;
  margin-right: 20px;
  font-style:oblique;

}
.section img{
 
  max-width:60%;
  height:auto;
  margin-bottom:10px;
  size: 20px; 
  transform:scale(70%);    
}
.section .detail{
  margin-top:0;
}
footer{
  display:contents;
  text-align:justify;
  background-color:dimgray;
}

